extensions:
	mango.databaseCreator: Webnazakazku\MangoTester\DatabaseCreator\Bridges\NetteDI\DatabaseCreatorExtension
	mango.databaseCreatorInfrastructure: Webnazakazku\MangoTester\DatabaseCreator\Bridges\Infrastructure\DatabaseCreatorInfrastructureExtension
	databaseCreatorDbal: Nextras\Dbal\Bridges\NetteDI\DbalExtension
	migrations: Nextras\Migrations\Bridges\NetteDI\MigrationsExtension

mango.tester:
	require:
		- Nextras\Dbal\IConnection

databaseCreatorDbal:
	driver: mysqli
	autowired: false

mango.databaseCreator:
	driver: mysql
	dbal: Webnazakazku\MangoTester\DatabaseCreator\Bridges\NextrasDbal\NextrasDbalAdapter(@databaseCreatorDbal.connection)
	migrations: Webnazakazku\MangoTester\DatabaseCreator\Bridges\NextrasMigrations\NextrasMigrationsDriver
	strategy: reset

migrations:
	dir: %appDir%/../migrations
	driver: mysql
	dbal: nextras

services:
	migrations.dbal:
		arguments: [connection: @databaseCreatorDbal.connection]
